[run]
branch = True
source = falcon
omit = falcon/tests*,falcon/cmd/bench.py,falcon/bench*,falcon/vendor/*

parallel = True

[report]
show_missing = True
exclude_lines =
    pragma: nocover
    pragma: no cover
    pragma: no py39,py310 cover
