[run]
branch = True
source = falcon
omit = falcon/tests*,falcon/_typing.py,falcon/cmd/bench.py,falcon/bench/*,falcon/vendor/*

parallel = True

[report]
show_missing = True
# https://coverage.readthedocs.io/en/latest/excluding.html#advanced-exclusion
exclude_also =
    if TYPE_CHECKING:
    pragma: nocover
    pragma: no py39,py310 cover
    pragma: no py311 cover
    @overload
    class .*\bProtocol\):
