# top-most EditorConfig file
root = true

# Unix-style newlines with a final newline; trim trailing whitespace
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Set default charset for sources
[*.{html,js,py,pyx}]
charset = utf-8

# 4 space indentation
[*.{py,pyx}]
indent_style = space
indent_size = 4

# 2 space indentation
[*.{yaml,yml}]
indent_style = space
indent_size = 2
