*.py[cod]

# C extensions
*.c
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
htmlcov
*.dat

# Docs
doc/_build

# Translations
*.mo

# Idea
.idea

# System
.DS_Store

# VIM swap files
.*.swp

# VIM temp files
*~
