language: python
sudo: false
install: tools/travis/install.sh
cache:
    directories:
        - $HOME/.cache/pip

matrix:
    include:
        # TODO(kgriffs): Uncomment when Travis no longer stalls and
        # errors out on Jython tests.
        # - python: 2.7
        #   env: JYTHON=true
        - python: pypy-5.7.1
          env: TOXENV=pypy
        - python: pypy3-5.7.1
          env: TOXENV=pypy3
        - python: 2.7
          env: TOXENV=pep8
        - python: 2.7
          env: TOXENV=pep8-examples
        - python: 2.6
          env: TOXENV=py26
        - python: 2.7
          env: TOXENV=py27
        - python: 2.7
          env: TOXENV=py27_ujson
        - python: 2.7
          env: TOXENV=py27_smoke
        - python: 2.7
          env: TOXENV=py27_cython
        - python: 2.7
          env: TOXENV=py27_smoke_cython
        - python: 3.3
          env: TOXENV=py33
        - python: 3.3
          env: TOXENV=py33_cython
        - python: 3.4
          env: TOXENV=py34
        - python: 3.4
          env: TOXENV=py34_cython
        - python: 3.5
          env: TOXENV=py35
        - python: 3.5
          env: TOXENV=py35_ujson
        - python: 3.5
          env: TOXENV=py35_cython
        - python: 2.7
          env: TOXENV=docs
        - python: 3.5
          env: TOXENV=py35_hug

script: tools/travis/run_tests.sh
notifications:
  irc:
    channels:
      - "chat.freenode.net#falconframework"
    on_success: change
    on_failure: always
    use_notice: true
    skip_join: true

before_install:
  - pip install codecov

after_success:
  - coverage combine .coverage_data
  - codecov
