language: python
sudo: false
install: travis_scripts/install.sh
cache:
    directories:
        - $HOME/.cache/pip

matrix:
    include:
        - python: 2.7  # these are just to make travis's UI a bit prettier
          env: JYTHON=true
        - python: pypy
          env: TOXENV=pypy
        - python: pypy3
          env: TOXENV=pypy3
        - python: 2.7
          env: TOXENV=pep8
        - python: 2.7
          env: TOXENV=pylint
        - python: 2.6
          env: TOXENV=py26
        - python: 2.7
          env: TOXENV=py27
        - python: 2.7
          env: TOXENV=py27_smoke
        - python: 2.7
          env: TOXENV=py27_cython
        - python: 2.7
          env: TOXENV=py27_smoke_cython
        - python: 3.3
          env: TOXENV=py33
        - python: 3.3
          env: TOXENV=py33_cython
        - python: 3.4
          env: TOXENV=py34
        - python: 3.4
          env: TOXENV=py34_cython
        - python: 3.5
          env: TOXENV=py35
        - python: 3.5
          env: TOXENV=py35_cython

script: travis_scripts/run_tests.sh
notifications:
  irc:
    channels:
      - "chat.freenode.net#falconframework"
    on_success: change
    on_failure: always
    use_notice: true
    skip_join: true

before_install:
  - pip install codecov

after_success:
  - coverage combine .coverage_data
  - codecov
