language: python

dist: xenial

install: pip install tox
cache:
    directories:
        - $HOME/.cache/pip

matrix:
    include:
        - python: pypy3.6-7.1.1
          env: TOXENV=pypy3
        - python: 3.8
          env: TOXENV=pep8
        - python: 3.8
          env: TOXENV=pep8-examples
        - python: 3.8
          env: TOXENV=mypy
          # NOTE(kgriffs):  3.5.2 is the default Python 3 version on Ubuntu 16.04
          #   so we pin to that for testing to make sure we are working around
          #   and quirks that were fixed in later micro versions.
        - python: 3.5.2
          env: TOXENV=py35
        - python: 3.6
          env: TOXENV=py36
        - python: 3.6
          env: TOXENV=py36_cython
        - python: 3.7
          env: TOXENV=py37
        - python: 3.8
          env: TOXENV=py38
        - python: 3.8
          env: TOXENV=py38_cython
        - python: 3.8
          # NOTE(vytas): Big-endian architecture
          arch: s390x
          dist: bionic
          os: linux
          env: TOXENV=py38_cython
        - python: 3.8
          env: TOXENV=py38_smoke
        - python: 3.8
          env: TOXENV=py38_smoke_cython
        - python: 3.8
          env: TOXENV=docs
        # TODO(kgriffs): Re-enable once hug has a chance to address
        #   breaking changes in Falcon 3.0
        # - python: 3.7
        #   env: TOXENV=hug
        - python: 3.8
          env: TOXENV=look
        - python: 3.8
          env: TOXENV=check_vendored

        - name: Python 3.8 (Windows)
          env:
            - TOXENV=py38_nocover
            - PYTHONIOENCODING=utf8
          os: windows
          language: bash
          before_install:
            - choco install python3 --params "/InstallDir:C:\\Python"
            - export PATH="/c/Python:/c/Python/Scripts:$PATH"
            - python -m pip install --upgrade pip wheel coverage

          script: tox

script: tox -- -v

notifications:
  webhooks:
    urls:
      secure: "R4Hr754P2v69tWoy6vKz/4csb6ZHYRM/+8vTVV6ioDWyqsPqyGXAPiXDfZ617C7TLxJiTlbFIJPjlcH64estPg+RZ1NA4D8BrDKS2nKqHJ2Z5Jv6X5Ds6HkEUNnYXsuwsqNvZzhpPRcCKXXRpvmAbkNUSe8ftn4kz2zCOA9MBSY="
    on_success: change
    on_failure: always

before_install:
  # NOTE(vytas): wheels sometimes fail to build on s390x due to cache being
  #   owned by another user.
  - sudo chown -R travis:travis $HOME/.cache/pip
  # NOTE(vytas): libunwind-dev does not exist for s390x in Ubuntu 16.04
  - if [[ `uname -m` == *86* ]]; then sudo apt-get update && sudo apt-get install -y libunwind-dev; fi
  - pip install codecov

after_success:
  - coverage combine
  - codecov
