name: Run tests (emulated)

on:
  # Trigger the workflow on master but also allow it to run manually.
  workflow_dispatch:
  push:
    branches:
      - master
  # TODO(vytas): Remove when review passes.
  pull_request:
    branches:
      - master

jobs:
  test-emulated:
    name: "cibuildwheel: ${{ matrix.platform }}"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        platform:
          - "cp312-manylinux_aarch64"
          - "cp312-manylinux_s390x"

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: all

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.20.0
        env:
          CIBW_ARCHS_LINUX: all
          CIBW_BUILD: ${{ matrix.platform }}
